[submodule "users"]
	path = users
	url = https://github.com/ericksonholguin/users
[submodule "products"]
	path = products
	url = https://github.com/ericksonholguin/products
[submodule "invoices"]
	path = invoices
	url = https://github.com/ericksonholguin/invoices
[submodule "account"]
	path = account
	url = https://github.com/ericksonholguin/account
[submodule "authentication"]
	path = authentication
	url = https://github.com/ericksonholguin/authentication
